@page
@model FinancePreferenceSys.Pages.AccountPage.EditModel
@{
    ViewData["Title"] = "修改會員資料";
}

<div class="container mt-4">
    <h2>修改會員資料</h2>
    <form method="post">
        <input type="hidden" name="Input.UserID" value="@Model.Input.UserID" />

        <div class="mb-3">
            <label class="form-label" for="Input_UserName">使用者名稱</label>
            <input class="form-control" id="Input_UserName" name="Input.UserName" value="@Model.Input.UserName" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="Input_Account">扣款帳號</label>
            <input class="form-control" id="Input_Account" name="Input.Account" value="@Model.Input.Account" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="Input_Password">新密碼（選填）</label>
            <input class="form-control" id="Input_Password" name="Input.Password" type="password" />
        </div>

        <button type="submit" class="btn btn-primary">儲存變更</button>
        <a asp-page="/Index" class="btn btn-secondary">取消</a>
    </form>
</div>